.supplier-product-order{
    margin-top: 10px;
}

.supplier-product-order > .supplier-product-order-display{
    display: flex; 
    gap: 10px;
    flex-direction: column;
    width: 100%;
    margin: auto;
}
.supplier-product-order > .supplier-product-order-display p.price{
    color: var(--back-color);
    margin: 0;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--back-color);
    width: fit-content;
    color: var(--color);
    border-radius: 10px;
    font-size: medium;
}
.supplier-product-order > .supplier-product-order-display h3.quantity{
    color: var(--back-color);
    margin: 0;
    margin-top: 10px;
    color: var(--back-color);
    width: fit-content;
    border-radius: 10px;
    font-size: medium;
}
.supplier-product-order > .supplier-product-order-display h5.quantity >span{
    background-color: var(--back-color);
    color: var(--color);
    padding: 5px;
    border-radius: 20px;
}
.supplier-product-order > .supplier-product-order-display button.delete-from-ordered-list{
    height:fit-content;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    color: white;
}
.supplier-product-order > .supplier-product-order-display .more-details{
    white-space: nowrap;
    color: var(--color);
    background-color: var(--back-color);
    padding: 10px;
}