.orders-list{
    margin-top: 10px;
}

.orders-list > .orders-list-display{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}
.orders-list > .orders-list-display p.price{
    color: var(--back-color);
    margin: 0;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--back-color);
    width: fit-content;
    color: var(--color);
    border-radius: 10px;
    font-size: medium;
}
.orders-list > .orders-list-display h3.quantity{
    color: var(--back-color);
    margin: 0;
    margin-top: 10px;
    color: var(--back-color);
    width: fit-content;
    border-radius: 10px;
    font-size: medium;
}

.orders-list > .orders-list-display .more-details{
    white-space: nowrap;
    padding:10px 15px;
    background-color:var(--back-color);
    color: white;
    align-self: flex-end;
    border: 0;

}
